In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('fertilizer.csv')

In [3]:
crop='rice'
N=45
P=50
K=50

In [4]:
data.head()

    N   P   K label crop_name
0  90  42  43  rice      rice
1  85  58  41  rice      rice
2  60  55  44  rice      rice
3  74  35  40  rice      rice
4  78  42  42  rice      rice

In [5]:
grouped_data=data.groupby('label')
df=grouped_data.get_group(crop)

In [6]:
min_N=df['N'].min()
min_P=df['P'].min()
min_K=df['K'].min()

In [7]:
max_N=df['N'].max()
max_P=df['P'].max()
max_K=df['K'].max()

In [8]:
if(N < max_N and N > min_N):
    nitrogen=0
else:
    if(N > max_N):
        nitrogen=N-max_N
    else:
        nitrogen=N-min_N
        
if(K < max_K and K > min_K):
    potassium=0
else:
    if(K > max_K):
        potassium=K-max_K
    else:
        potassium=K-min_K
        
if(P < max_P and P > min_P):
    phosphorus=0
else:
    if(P > max_P):
        phosphorus=P-max_P
    else:
        phosphorus=P-min_P

In [9]:
npk_dict={
    abs(nitrogen):"nit",
    abs(potassium):"pot",
    abs(phosphorus):"pho"
}

In [10]:
x=max(npk_dict.keys())
lowest_one=npk_dict[x]

In [11]:
if(nitrogen == 0 and phosphorus == 0 and potassium== 0):
    result='all good'
else:
    if(lowest_one == 'nit'):
        if(nitrogen > 0):
            result='NHigh'
        else:
            result="NLow"
    if(lowest_one == 'pot'):
        if(potassium > 0):
            result='kHigh'
        else:
            result="kLow"
    if(lowest_one == 'pho'):
        if(phosphorus > 0):
            result='PHigh'
        else:
            result="PLow"

In [12]:
result

'NLow'